.container {
    display: flex;
    flex-direction: row;
}
.container .products {
    width: 60%;
}

.container .cart {
    margin-left: auto;
}

.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-list .list-item {
    float: left;
    width: 21%;
    padding: 10px;
    margin:20px;
    min-height: 230px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 2px 2px 4px rgb(165, 165, 165);
    padding: 10px;
    text-align: center;
}

.product-list .list-item img {
    width: 150px;
    /* height: 100%; */
}